<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDo-App</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/modern-normalize@latest/modern-normalize.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body id="app">
    <header>
      <h1>Todo App</h1>
      <h2>Filter</h2>
      <section class="filter" id="filter-section">
        <label for="all"
          >All
          <input
            v-model="filter"
            type="radio"
            name="filter"
            id="all"
            value="all"
            checked
          />
        </label>

        <label for="open"
          >Open
          <input
            v-model="filter"
            type="radio"
            name="filter"
            id="open"
            value="open"
          />
        </label>

        <label for="done"
          >Done
          <input
            v-model="filter"
            type="radio"
            name="filter"
            id="done"
            value="done"
          />
        </label>
      </section>

      <section class="remove-button">
        <button @click="deleteDoneTodos()" type="submit" id="remove">
          Remove done Todos
        </button>
      </section>
    </header>
    <main>
      <h2>To-Do´s</h2>
      <form @submit.prevent="addTodo()" id="add-form">
        <label for="">New Todo: </label>
        <input
          v-model="newTodoText"
          type="text"
          id="input-todo"
          placeholder="What needs to be done?"
        />{{newTodoText}}
        <button type="submit" id="submit">Add</button>
      </form>

      <ul id="todo-list">
        <li
          :class="{todoItemDone: todo.done}"
          v-for="todo of filterDoneTodos"
          :key="todo.id"
        >
          <label :for="todo.id">
            <input
              type="checkbox"
              name="todo.id"
              :id="todo.id"
              :checked="todo.done"
              @change="updateTodo(todo)"
            />
            {{todo.description}}
          </label>
        </li>
      </ul>
    </main>
    <script src="https://unpkg.com/vue@latest"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
